{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
NEWS
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h3> {{ number_of_news|default_if_none:"Количество новостей:" }} {{ news|length }} </h3>

{% block search %}
{% endblock search %}

<hr>

{% if perms.newsapp.add_post %}
    <a href="{% url 'post_create' %}">Добавить товар</a>
    {% endif %}

{% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Категория</td>
               <td>Текст</td>

               {% if perms.newsapp.change_post or perms.newsapp.delete_post %}
                <td>Действия</td>
                {% endif %}

           </tr>

         {% for news in news %}
         <tr>
            <td>{{ news.title|censor }}</td>
            <td>{{ news.dateCreation|date:'d M Y'}}</td>
            <td>{{ news.categoryType }}</td>
            <td>{{ news.text|truncatewords:10|censor }}</td>

             <td>
                    {% if perms.newsapp.change_post %}
                    <a href="{% url 'post_update' pk=news.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.newsapp.delete_post %}
                    <a href="{% url 'post_delete' news.id %}">Удалить</a>
                    {% endif %}
                </td>
         </tr>
         {% endfor %}
      </table>
   {% else %}
      <h2>Новостей нет!</h2>
   {% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
{% endif %}

{% endblock content %}